<%- include adminheader %>
<html>

<head>


<link href="/bootstrap.css" rel="stylesheet">


<script type="text/javascript">
    function validateForm()
{ if( document.createForm.movie_name.value == "" )
   {
     alert( "Please provide movie name!" );
     document.createForm.movie_name.focus() ;
     return false;
   }
   if( document.createForm.banner.value == "" )
   {
     alert( "Please provide movie banner!" );
     document.createForm.banner.focus() ;
     return false;
   }
   if( document.createForm.releaseDate.value == "" ||
           isNaN( document.createForm.releaseDate.value ) ||
           document.createForm.releaseDate.value.length != 4 )
   {
     alert( "Please provide a release date in the format of year." );
     document.createForm.releaseDate.focus() ;
     return false;
   }
   if( document.createForm.rentAmount.value == "" ||
           isNaN( document.createForm.rentAmount.value ) )
   {
     alert( "Please provide rent amount!" );
     return false;
   }
    if( document.createForm.category.value == "")
   {
     alert( "Please provide category of movie!" );
     return false;
   }
    if( document.createForm.availableCopies.value == "" ||
           isNaN( document.createForm.availableCopies.value ) )
   {
     alert( "Please provide number of copies available!" );
     return false;
   }
  
   return( true );
}
function enable() {
    if (document.getElementById("category").value != "other"){
        document.getElementById("other").disabled = true;
    }     
    else{
        document.getElementById("other").disabled = false;
    }        
}
</script>


</head>
<body>
<div style="padding:30px">
</div>

<div class="container">
    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Create Movie</h1>
    </div>

 <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">

    <% if (message.length > 0) { %>
    <div class="alert alert-danger"><%= message %></div>
    <% } %>

    </div>

<form action="/createMovie" method="post" accept-charset="utf-8" name="createForm" onsubmit="return (validateForm());">
    <div class="col-md-6 col-md-offset-3">
        <table class="table table-bordered table-hover">
            <tbody style="text-align:left;">
            <tr>
                <th style="width: 150px;">Product Name: </th>
                <td><input class="form-control" name="movie_name" size = "50" data-type="text" data-placement="right" required></td>
            </tr>
            <tr>
                <th style="width: 150px;">Quantity: </th>
                <td><input class="form-control" name="banner" size = "50" data-type="text" data-placement="right" required></td>
            </tr>

            <tr>
                <th style="width: 150px;">Expected Offer: </th>
                <td><input class="form-control" name="releaseDate" size = "50" data-type="text" data-placement="right" required></td>
            </tr>
            <tr>
                <th style="width: 150px;">Description: </th>
                <td><input class="form-control" name="rentAmount" size = "50" data-type="text area" data-placement="right" required></td>
            </tr>
            <tr>
                <th style="width: 150px;">Category: </th>
                <td><input class="form-control" name="rentAmount" size = "50" data-type="text area" data-placement="right" required></td>
                </td>
            </tr>
            <tr> <th style="width: 150px;">Expiry date: </th>
            <td><input class="form-control" name="rentAmount" size = "50" data-type="text area" data-placement="right" required></td>
            </tr>
            
           
            </tr>


            </tbody>
        </table>
        <div align ="center" >
        <button type="submit" class="btn btn-primary">Add Post</button>
        &nbsp
        <td> <a href="/dashboard" class="btn btn-primary">Cancel </a></td></tr> </table>
	</div>
</form>
    </div>
    
   </body> 
  </html>  